<h2> Bem vindo as guia sessoes </h2>

<%= form_with(model: @session, url: sessions_path) do |form| %>
    <div class="form-session-textbox">
        <%= form.label :username %>
        <%= form.text_field :username %>

        <%= form.label :email %>
        <%= form.text_field :email %>

        <%= form.label :password_digest %>
        <%= form.text_field :password_digest %>
    </div>

    <div>
        <%= form.submit "Logar" %>
    </div>
    <% end %>