<h2>Iniciar nova Sessão </h2>

<%= form_with(model: @session, url: login_send_path, method: :post) do |form| %>
    <div class="form-session-textbox">

        <%= form.label :email %>
        <%= form.text_field :email, placeholder: "Email" %>

        <%= form.label :password %>
        <%= form.password_field :password, placeholder: "Senha" %>

        <%= form.submit "Login", id: "user-login-button" %>
    </div>

    <% end %>