<div class="container-login-page">
  <div class="left-side-login"></div>
  <div class="right-side-login">
    <%= form_with(model: @session, url: login_send_path, method: :post) do |form| %>
      <div class="login-form-textboxes">

        <%= form.label :email %>
        <%= form.text_field :email, placeholder: "Email" %>

        <%= form.label :password %>
        <%= form.password_field :password, placeholder: "Senha" %>

        <%= form.submit "Login", id: "login-form-submit-button" %>
      </div>
    <% end %>
  </div>
</div>