<div class='index-task-list'>
  <ul class="task-list">
    <% @tasks.each do |task| %>
      <li class='container-postit-li'>
        <div class="postit-header">
          <span class="task-content"><%= task.title %></span><br>
        </div>

        <div class="postit-body">
          <strong class="tast-description"></strong> <span class="task-content"><%= task.description %></span><br>
        </div>

        <div class="postit-footer">

          <span class="task-content">Criada em: <%= task.created_at %></span><br>
          <div class='postit-corner-botton-right'><%= task.id %></div>
        </div>

        <div class="postit-buttons">
          <a class='postit-add-button' href="<%= task_path(task)%>">Visualizar</a>
          <a class='postit-edit-button' href="<%= edit_task_path(task)%>">Alterar</a>
          <%= link_to "Remover", task_path(task), method: :delete, class: 'postit-delete-button' %>

        </div>
      </li>
      <% end %>
  </ul>
</div>