<div class='new-task-page'>
    <%= form_with(model: @task, url: tasks_path) do |form| %>
      <div class="form-task-textbox">
        <%= form.label :title %>
        <%= form.text_field :title %>

        <%= form.label :description %>
        <%= form.text_field :description %>
      </div>
      <%= form.submit "Criar task" %>
    <% end %>
</div>