<br>
<% @tasks.each do |task| %>
    <br>
    <div>
        <strong>ID:</strong> <%= task.id %>
        <strong>Titulo:</strong> <%= task.title %><br>

        <span style="display: inline-block;"> 
            <%= link_to task_path(task) do %>
                <button type="button">Mais detalhes da tarefa</button>
            <% end %>
        </span>
        <span style="display: inline-block;"> 
            <%= form_with(url: task_path(task), method: :delete, data: { confirm: "Tem certeza que deseja excluir esta tarefa?" }) do |form| %>
                <%= form.submit "Excluir tarefa" %>
            <% end %>
        </span>
       
    </div>
<% end %>