<div class="container-signup-page">
  <div class="left-side-signup"></div>
  <div class="right-side-signup">
    <%= form_with(model: @user, url: signup_path) do |form| %>
      <div class="signup-form-textboxes">
        <%= form.label :username %>
        <%= form.text_field :username, placeholder: "Nome" %>

        <%= form.label :email %>
        <%= form.text_field :email, placeholder: "Email" %>

        <%= form.label :password %>
        <%= form.password_field :password, placeholder: "Senha" %>

        <%= form.submit "Signup", id: "signup-form-submit-button" %>
      </div>
      <div class='container-login-link'>
        <p>Já possui conta?</p>
        <%= link_to 'Entrar', login_path, class:'signup-login-link' %>
      </div>
    <% end %>
  </div>
</div>
